@{
    Layout="Shared/_Layout.cshtml";
}

<h3>Your word was:</h3>
<h2>@Model.GetWord()</h2>

<h3>These words that you entered are anagrams:</h3>
<ul>
  @foreach (string word in @Model.CheckAnagram())
  {
    <li>@word</li>
  }
</ul>
